<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>

<meta charset="ISO-8859-1">
    <!-- Bootstrap CSS -->
    	<link rel="stylesheet" type="text/css" href="" th:href="@{/css/index.css}">
  
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=661f83ed696c5b0019fbab09&product=inline-share-buttons&source=platform" async="async"></script>
  
  
<title>&nbsp &nbsp &nbspjob portal</title>
  <h1 align="center">Nikhil Bharat Bangali Samanwya Samiti</h1>

  


</head>
<header>
<div id="a">

</div>

<div id="b">
<h2 align="center">Have a account?<h2>
<div align="center" id="c">
<a th:href="@{/login}" >login</a>
</div>

</div>

</header>

<body>

</div>

<footer id="con2">


</footer>
</body>
</html>